# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# mypy
.mypy_cache/

# pyre type checker
.pyre/

# profiling data
.prof

# dotenv environment variables file
.env

# virtualenv
env/
venv/
ENV/
env.bak/
venv.bak/
